.body {
  background-color: #2a2344;
  color: #ccbd9e;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.container-login {
  background-color: #260729;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-field {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccbd9e;
  border-radius: 5px;
  color: #ccbd9e;
  background-color: #260729;
}

.form-error {
  color: #f44336;
  margin-top: 5px;
  display: block;;
}

.button {
  background-color: #95168f;
  width: 260px;
  margin-top: 20px;
  color: #ccbd9e;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #d8ccb2;
}