.container-livros {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #2a2344;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    cursor: pointer;
  }

  .container-livros-cadastrados {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #2a2344;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
  }