# Copie para .env e ajuste se necessário

MYSQL_ROOT_PASSWORD=rootexample
MYSQL_DATABASE=example
MYSQL_USER=example_user
MYSQL_PASSWORD=example_pass

# Feathers usa esta URL para conectar no MySQL
MYSQL_URL=mysql://example_user:example_pass@localhost:3306/example?charset=utf8mb4
